body {
	padding: 0;
	width: 100%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
	color: #aaa;
	font-size: 18px;
}

h1 {
	color: #00cc99;
	letter-spacing: -3px;
	font-family: 'Courier New', sans-serif;
	font-size: 100px;
	font-weight: 200;
	margin-bottom: 5%;
}
.index {
	margin-top: 15%;
}

.login {
	margin-top: 10%;
}

.register {
	margin-top: 6%;
}

.btn-large {
	background-color: #00cc99;
}

.btn:hover {
	background-color: #00b386;
}

.btn-large:hover {
	background-color: #00b386;
}

.input-field .prefix.active {
	color: #00b386;
}

#m_input:focus {
	border-bottom: 1px solid #00b386;
	box-shadow: 0 1px 0 0 #00b386;
}

#m_input:focus + label {
	color: #00b386;
}

a:hover {
	color: white;
}

a:hover {
	text-decoration: none;
}

.navbar {
	background-color: #00cc99;
}
