body {
	margin: 50px 0 0 0;
	padding: 0;
	width: 100%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
	color: #aaa;
	font-size: 18px;
}

h1 {
	color: #00cc99;
	letter-spacing: -3px;
	font-family: 'Courier New', sans-serif;
	font-size: 100px;
	font-weight: 200;
	margin-bottom: 2%;
}
.index{
	margin-top: 15%;
}

.login {
	margin-top: 10%;
}

.register {
	margin-top: 6%;
}

.btn-large {
	background-color: #00cc99;
}

.btn:hover {
	background-color: #00b386;
}

.btn-large:hover {
	background-color: #00b386;
}

